[user]
	email = ccbitt@amazon.com
	name = Caleb Bitting

[alias]
  update = !git fetch && git pull --rebase
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[url "ssh://git.amazon.com"]
  insteadOf = https://git.amazon.com

; [core]
;   pager = "delta --syntax-theme='Catppuccin-frappe'"
;
; [interactive]
;   diffFilter = delta --color-only
;
; [delta]
;   navigate = true    # use n and N to move between diff sections
;   light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
;
; [merge]
;   conflictstyle = diff3
;
; [diff]
;   colorMoved = default
